@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar-active-site-wrapper {
    animation: navbar-active 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
    animation-fill-mode: forwards;
    @apply fixed w-full h-screen overflow-y-hidden bg-white pl-4 rounded-[30px] border
}

.navbar-deactive-site-wrapper {
    animation: navbar-deactive 0.5s;
    animation-fill-mode: forwards;
    @apply fixed w-full h-screen overflow-y-hidden bg-white
}



.active-navbar-body {
    @apply overflow-y-hidden md:overflow-y-auto;
}

.modal-not-active {
    animation: modal-out-animation 0.5s;
    animation-fill-mode: forwards;
}

.modal-active {
    animation: modal-in-animation 0.5s;
    animation-fill-mode: forwards;
}


@keyframes modal-in-animation {
    0% {
        top: 140%;
    }
    100% {
        @apply top-16

    }
}

@keyframes modal-out-animation {
    0% {
        @apply top-16
    }
    100% {
        top: 140%;
    }
}

.modal-shadow {
    box-shadow: -15px -15px 30px rgba(0,0,0, 0.5);
}



.accordion {
    cursor: pointer;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.3s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    display: none;
    overflow: hidden;
  }
